/* File: base/typography.css */
body {
    font-family: var(--font-main), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--light-color);
    color: var(--dark-color);
}

a {
    color: var(--primary-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4 {
    margin-bottom: 1rem;
    font-weight: 600; /* Font Poppins đẹp hơn khi đậm */
}